<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empleado</title>
    <link rel="stylesheet" href="/resources/css/style.css">
</head>
<body>
    <div class= "login-form">
        <h2>Iniciar Sesion Empleado</h2>
        <form action="/employee/auth" method="post">
            <input type="email" name="mail" id="mail" placeholder="Correo Electronico" required>
            <input type="password" name="pass" id="pass" placeholder="Contraseña" required>
            <input class="btn-login" type="submit" name="btn-login" value="Login">
        </form>
        <a href="register" class="btn-register"> Registrar</a>
    </div>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <% if (typeof alert != "undefined")  { %>
        <script>
        Swal.fire({
          title:'<%= alertTitle %>',
          text:'<%= alertMessage %>',
          icon:'<%= alertIcon %>',
          showConfirmButton: <%= showConfirmButton %>,
          timer: <%= timer %>
        }).then(()=>{
          window.location='/<%= ruta %>'
        })
        </script>
       <% } %>
</body>
</html>